html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui;
  color: #d9e1ef;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background-color: #0b192f;
  background-image: linear-gradient(
    to right top,
    #0b192f,
    #0b1a31,
    #0c1b33,
    #0c1c35,
    #0d1d37
  );
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b192f;
}

::-webkit-scrollbar-thumb {
  background-color: #4a566f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #63dbd5;
}

p,
li {
  color: #94a3b8;
  font-size: 20px;
}

h3 {
  color: #b8c6e2;
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

main section {
  margin-bottom: 200px;
}

.nav-bar.hide {
  top: -100px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 40px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  transition: top 0.5s ease;
  z-index: 1;
}

.nav-bar img {
  height: 50px;
  width: auto;
  margin-left: 20px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: 60px;
}

.nav-bar li {
  margin-left: 30px;
}

.nav-bar a {
  text-decoration: none;
}

.dropdown {
  display: none;
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #b9c6e0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #142d55;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
}

.dropdown-content a {
  color: #d9e1ef;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0f223f;
}

.dropdown-btn:focus + .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin: 0;
  margin-top: 175px;
}

.description {
  width: 60%;
}

.title h2,
h1,
h4,
h3,
.education p {
  margin: 0;
}

.title h2 {
  color: #adc5f3;
  font-size: 50px;
}

.all-content {
  margin: 0% 20%;
}

.about-me {
  margin-top: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me-img {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-img img {
  border-radius: 20px;
  height: 375px;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basic-card {
  padding: 20px;
  border-radius: 10px;
  margin: -20px;
}

.basic-card:hover {
  background-color: rgba(156, 156, 156, 0.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.basic-card:hover h3,
.basic-card:hover svg,
.project-card:hover svg,
.project-card:hover h3 {
  color: #63dbd5;
  fill: #63dbd5;
}

.basic-card h3 {
  margin: 0;
}

.card-title {
  display: flex;
  flex-direction: column;
}

.card-title h4 {
  color: #606f84;
}

.card-name {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.card-title svg {
  width: 40px;
  margin-left: 10px;
  fill: #b9c6e0;
  vertical-align: middle;
}

.education p {
  margin-bottom: 20px;
}

.technologies {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.technologies li {
  margin: 0 10px 10px 0;
  background-color: #152b39;
  color: #63ddcc;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.education ul {
  margin-bottom: 20px;
}

.project-card {
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  margin: -20px;
  margin-bottom: 40px;
}

.project-card a {
  display: flex;
  flex-direction: row;
}

.project-card:hover {
  background-color: rgba(156, 156, 156, 0.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.project-img img {
  width: 200px;
  height: auto;
  border: 3px solid #252d3d;
  border-radius: 5px;
}

.project-description {
  margin-left: 20px;
}

.reviews .basic-card {
  margin-bottom: 40px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
  color: bisque;
}

.contact li {
  margin: 20px 20px 0 0;
}

.contact svg {
  width: 40px;
  height: 40px;
  fill: #95a3b7;
}

.contact svg:hover {
  fill: #63dbd5;
}

@media screen and (max-width: 1400px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me-img img {
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-me-img {
    margin: 0;
  }

  .about-me-img img {
    height: 350px;
  }

  .project-card {
    width: 95%;
  }

  main section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  main section {
    margin-bottom: 40px;
  }

  .all-content {
    margin: 0% 5%;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 175px;
    justify-content: center;
  }

  .title h1 {
    font-size: 50px;
  }

  .title h2 {
    font-size: 40px;
  }

  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me-img img {
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-me-img {
    margin: 0;
  }

  .project-card a {
    display: flex;
    flex-direction: column-reverse;
    margin: -20px;
    padding: 20px 0 20px 0;
  }

  .project-img {
    margin-left: 20px;
  }

  .contact svg {
    width: 30px;
    height: 30px;
    fill: #95a3b7;
  }

  .nav-bar ul {
    display: none;
  }

  .dropdown {
    display: block;
    padding-right: 40px;
  }

  .nav-bar img {
    margin-right: auto;
    margin-left: 0;
  }

  section {
    padding-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .card-title h4 {
    margin-top: 20px;
  }
}
